.container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    margin-bottom: 20px;
  }
  .buttonContainer {
    display: flex;
    justify-content: center; /* Better spacing */
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
  }
  
  .addButton {
    background-color: #4CAF50;
    color: white;
  }
  
  .deleteButton {
    background-color: #f44336;
    color: white;
  }
  
  .downloadButton {
    background-color: #2196F3;
    color: white;
  }
  
  .button:hover {
    opacity: 0.85;
  }
    
  .tableContainer {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #e0e0e0;
  }
  