/* register-delivery.module.css */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
  }
  
  .formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .formField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .formField input {
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formField button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formField button:hover {
    background-color: #0051bb;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .form label input {
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0051bb;
  }